.el-tabs__nav {
    width: 100%;
    .el-tabs__item {
      width: 50%;
      &.is-active {
        background-color: #208571 !important;
        color: #fff !important;
      }
    }
  }
  .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: #208571;
    color: #fff
  }

  html, body {
    // width: 100%;
    position: relative;
    //   // box-sizing: border-box;
    //   height: 100vh;
    //   margin: 0;
    //   padding: 0;
      // overflow: hidden;
  }